.tag {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 800;
    background-color: #94D25A;
    border-radius: 10px;
    width: 25%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
