.carouselProject {
  margin: 80px 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselProjectPrev {
  flex: 1 10%;
}
.carouselProjectPrev img {
  width: 90%;
  height: auto;
}
.carouselProjectMain {
  flex: 1 80%;
  width: 100%;
  height: auto;
  display: flex;
  gap: 50px;
}
.carouselPorjectNext {
  flex: 1 10%;
  text-align: right;
}
.carouselPorjectNext img {
  width: 90%;
  height: auto;
}
