.carouselProject {
  margin: 80px 0;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselProjectPrev {
  flex: 1 10%;
  cursor: pointer;
}
.carouselProjectPrev img {
  opacity: 0.6;
  width: 80%;
  height: auto;
}
.carouselProjectMain {
  flex: 1 80%;
  display: flex;
  gap: 50px;
}
.carouselProjectNext {
  flex: 1 10%;
  text-align: right;
  cursor: pointer;
}
.carouselProjectNext img {
  opacity: 0.6;
  width: 80%;
  height: auto;
}

@media (max-width: 1600px) {
  .carouselProjectMain {
    gap: 15px;
  }
}
@media (max-width: 1500px) {
  .carouselProjectMain {
    gap: 10px;
  }
}
@media (max-width: 850px) {
  .carouselProjectMain {
    flex: 1 45%;
    gap: 0;
  }
  .carouselProjectPrev img {
    width: 40%;
  }
  .carouselProjectNext img {
    width: 40%;
  }
}
@media (max-width: 650px) {
  .carouselProjectMain {
    flex: 1 65%;
    gap: 0;
  }
  .carouselProjectPrev img {
    width: 50%;
  }
  .carouselProjectNext img {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .carouselProjectMain {
    flex: 1 80%;
    gap: 0;
  }
  .carouselProjectPrev img {
    width: 100%;
  }
  .carouselProjectNext img {
    width: 100%;
  }
}
