.header {
    width: 100%;
    height: 110px;
    background-color: #262626;
    display: flex;
    align-items: center;
}
.iconHeader {
    flex: 1;
    margin-left: 20px;
}
.iconHeader img {
    width: 80px;
}
.navHeader {
    flex: 1;
    height: 100%;
    justify-content: flex-end;
    display: flex;
    font-weight: 900;
}
.active {
    text-decoration: none;
    color: #262626;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: default;
}
.pending {
    text-decoration: none;
    color: #94D25A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}